body { 
  font-family: helvetica, arial, serif;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffe5f0;
}
 
.wrap {
  display: inline-block;
  -webkit-box-shadow: 0 0 70px #ffe5f0;
  -moz-box-shadow: 0 0 70px #ffe5f0;
  box-shadow: 0 0 70px #ffe5f0;
  margin-top: 20px;
}

/*--------- */
.decor {
  background: -webkit-linear-gradient(left, #61b8eb 50%, #ad30ad 50%);
  background: -moz-linear-gradient(left, #61b8eb 50%, #ad30ad 50%);
  background: -o-linear-gradient(left, #61b8eb 50%, #ad30ad 50%);
  background: linear-gradient(left, #61b8eb 50%, #ad30ad 50%);
  background-size: 50px 25%;;
  padding: 2px;
  display: block;
}

a {
  text-decoration: none;
  color: black;
  display: block;
}

ul {
  list-style: none;
  position: relative;
  text-align: left;
}

li {
  float: left;
}

/* ----- */
ul:after {
  clear: both;
}

ul:before,
ul:after {
    content: " ";
    display: table;
}

nav {
  position: relative;
  background-image: -webkit-linear-gradient(bottom,rgb(255, 255, 255),#ffffff 100%);
  background-image: -moz-linear-gradient(bottom, #ffffff 7%, #ffffff 100%);
  background-image: -o-linear-gradient(bottom, #ffffff 7%, #ffffff 100%);
  background-image: linear-gradient(bottom, #ffffff 7%, #ffffff 100%);
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #000000;
  -webkit-box-shadow: 2px 2px 3px #37143b;
  -moz-box-shadow: 2px 2px 3px rgb(55, 20, 59);
  box-shadow: 2px 2px 3px rgb(55, 20, 59);
  border-bottom-right-radius: 33px;
  border-bottom-left-radius: 33px;
}

/* --- */
ul.primary li a {
  display: block;
  padding: 20px 127px;
  border-right: 1px solid "transparent";
}
/*sub menu*/
ul.sub {
  position: absolute;
  z-index: 200;
  box-shadow: 2px 2px 0 transparent;
  width: 15%;
  display:none;
}

ul.sub li {
  float: none;
  margin: 0;
}

ul.sub li a {
  border-bottom: 1px dotted transparent;
  border-right: none;
  border-left: none;
  padding: 15px 30px;
}

ul.sub li:last-child a {
  border-bottom: none;
}

/* sub menu fondo*/
ul.primary li:hover ul {
  display: block;
  background:transparent;
}

/* fondo y color de letra del menu */
ul.primary li:hover a {
  background: #fff;
  color: #070707;
  text-shadow: none;
}

ul.primary li:hover > a{
  color: #000;
} 

/* titulo con imagen*/
header{
  font-size: 20px;
  text-shadow: 7px 4px 5px #d8c1cb;
  color: rgb(0, 0, 0);
  padding-left: 210px;
  display:flex;
  align-items:center; 
}
header img {
  margin: none;
}
  header h1{
      text-align:center;
      font-style: italic;
  }
/* cuadro texto domiciolios*/
div strong.strong h2 {
  font-style: italic;
    font-size: 17px;
    background-color: #e2cad4;;
    color: black;
    margin: 5px  70px;
    width: 500px;
    padding: 10px;
    border-radius: 30px;
}
div.div {
  font-style: italic;
    background-color: white;
    color: black;
    text-align:center;
    width: 95%;
    border-radius: 20px;
    margin: 5px  40px;
    font-size: 20px;
    display:flex;
    align-items:center;
}
    div.div img {
        margin: none;
        width: 200px;
        padding: 10px;
        border-radius: 30px;
    }
/**/
div.div_section {
    display:flex;
    align-items:center;
}
    div.section {
        background-color: white;
        color: black;
        padding: 40px;
        width: auto;
        margin: auto;
    }
        div.section:hover{
            background-color: #d8c1cb;
            color:#000000a9;
            border-radius: 30px;}
footer.footer {
    background-color: white;
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
    
}
    footer h3 {
        display: inline-block;
        padding: 10px;
        margin: 10px;
    }