body{
background-color:  #ffe5f0;    
}
div div.div_article{
    float: right;
    background-color: whitesmoke;
    color: black;
    width: 800px;
    font-family:'cursive';
    font-size: 22px;
    padding: 10px;
    border-radius: 30px;
    box-sizing: border-box;
} 
header{
    font-size: 30px;
    font-style: italic;
    text-shadow:-6px 3px 0 #b6a5ac;    
    color:black;
    box-sizing: border-box;
}
img{
    float: "left";
    padding:"40px";
    box-sizing: border-box;
}
div.div_section1 {
    display:flex;
    align-items:center;
    box-sizing: border-box;
}
    div.section1 {
        background-color: white;
        color: black;
        padding: 20px;
        width: 310px;
        margin: -130px 760px 80px;
    }
        div.section1:hover{
            background-color:#fdebc9;
            color:#2d0749a9;
            border-radius: 15px;}
            
/*boton*/
button {
    background-color:white;
    padding: 10px;
    border: 5px #2d0749b7;
    border-radius: 25px;
    float: left;
    margin: -90px 220px;
}
    button a{
        text-decoration: none;
        color: black;
    }
        button:hover {
            background-color:#b9a9b0;  
            border-radius: 15px;
        }
/*pie de pagina*/        
footer.footer {
    background-color: white;    
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
    width: auto;
}
    footer h3 {
        display: inline-block;
        padding: 10px;
        margin: 10px;
    }
    
@media screen and (max-width: 800px) {
    .div div.div_article{
        width: 100%;
    }    
    .header{
        width: 100%;
    } 
    .img{
        width: 100%;
    } 
    .div.div_section1{
        width: 100%;
    }
}
      

